/* Base */

// Colours
:root {
  /*Primary */
  --very-dark-blue: hsl(233, 47%, 7%); // main background
  --dark-desaturated-blue: hsl(244, 38%, 16%); // card background
  --soft-violet: hsl(277, 64%, 61%); // accent

  /*Neutral*/
  --white: hsl(0, 0%, 100%); // main heading, stats numbers
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75); // main paragraph
  --more-slightly-transparent-white: hsla(0, 0%, 100%, 0.6); // stats paragraph
}

// COMPLETE Set media query break points (desktop and mobile)
/* Media Query break points */
$bp-desktop-max: 1110px; // desktop view (2 columns stats)
$bp-mobile: 375px; // mobile view (1 column)

/* Global reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px (10px/16px = 62.5%)
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  font: {
    family: "Lexend Deca", sans-serif;
    size: 1.5rem;
  }
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* Layout */
.flex-container__border {
  min-height: 45rem;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  width: 110rem;
  flex-direction: row;

  // COMPLETE Media query .flex-container__border
  @media only screen and (max-width: $bp-desktop-max) {
    flex-direction: column-reverse;
    height: auto;
    width: $bp-mobile;
    margin: 7rem 2.5rem;
  }
}

/* Components */

/* Card */

.card {
  display: flex;
  width: 50%;
  flex-direction: column;

  background-color: var(--dark-desaturated-blue);

  // COMPLETE Media query .card
  @media only screen and (max-width: $bp-desktop-max) {
    width: 100%;
    text-align: center;
  }

  &#text {
    padding: 7rem 10rem 6rem 8rem;

    @media only screen and (max-width: $bp-desktop-max) {
    padding: 5rem 5rem 0 5rem;
  }

    & .card__title {
      font: {
        family: "Inter";
        weight: 700;
        size: 3.5rem;
      }
      color: var(--white);
      margin: 0 0 2.7rem 0;

      & span {
        color: var(--soft-violet);
      }

      @media only screen and (max-width: $bp-desktop-max) {
      font-size: 2.7rem;
      margin: 0 0 2rem 0;
  }

    }

    & .card__text {
      flex: 1;
      color: var(--slightly-transparent-white);
      margin: 0 0 0rem 0;
      font: {
        family: "Lexend Deca", sans-serif;
        weight: 400;
      }
      line-height: 2.5rem;

      @media only screen and (max-width: $bp-desktop-max) {
        margin: 0 0 4rem 0;
  }



    }

    & .flex-container__card__stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media only screen and (max-width: $bp-desktop-max) {
        flex-direction: column;
        margin: 0 0 1rem 0;
      }


      & .card__stats {
        & .stats-num {
          font: {
            family: "Inter";
            weight: 700;
            size: 2rem;
          }
          text-transform: uppercase;
          color: var(--white);
          margin: 0 0 0.8rem 0;
        }

        & .stats-text {
          font: {
            family: "Inter";
            size: 1.2rem;
          }
          text-transform: uppercase;
          color: var(--more-slightly-transparent-white);

          @media only screen and (max-width: $bp-desktop-max) {
            margin: 0 0 3rem 0;
          }
        }
      }
    }
  }

  &#picture {
    background: {
      image: url(../images/image-header-desktop.jpg);
      color: var(--soft-violet);
      blend-mode: multiply;
      size: cover;
    }

    @media only screen and (max-width: $bp-desktop-max) {
      image: url(../images/image-header-mobile.jpg);
      height: 29rem;
      width: auto;
          }
  }
}
